<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monimate</title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/style/style.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
  <script src="/bootstrap/js/bootstrap.min.js" defer></script>
  <script src="assets/js/script.js" defer></script>

</head>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
			<div class="container-fluid">
					<a class="navbar-brand" href="<%= '/' %>"><img src="assets/img/logo_light.png" alt="logo" width="130px"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
							<ul class="navbar-nav w-100 justify-content-around">
									<li class="nav-item">
											<a class="nav-link text-dark" href="<%= '/' %>#services">Services</a>
									</li>
									<li class="nav-item">
											<a class="nav-link text-dark" href="<%= '/' %>#contact">Contact</a>
									</li>
									<li class="nav-item">
											<a class="nav-link text-dark" href="<%= '/' %>#about">A propos</a>
									</li>
							</ul>
							<div class="d-flex">
									<a href="<%= 'register' %>" class="btn signup px-4 py-2 text-dark me-2">Inscription</a>
									<a href="<%= 'login' %>" class="btn greenRadient px-4 py-2 text-white">Connexion</a>
								</div>
					</div>
			</div>
		</nav>